<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${country.name})"></head>
<body>
	<header th:replace="layout :: header(': ' + ${country.name})"></header>
	<div class="container">
		<div class="country-details">
			<h2 th:text="${country.name}"></h2>
			<div class="meta">
				<div class="stat">
					<h4>Population</h4>
					<span th:text="${country.populationHumanReadableFormat}"></span>
				</div>
				<div class="stat">
					<h4>Capital</h4>
					<span th:text="${country.capital}"></span>
				</div>
				<div class="stat">
					<h4>Official Languages</h4>
					<ul th:each="language : ${country.languages}">
						<li th:text="${language}"></li>
					</ul>
				</div>
			</div>
			<div class="flag">
				<img th:src="@{'/flags/' + ${country.flagFileName}}"
					 th:alt="'Flag of ' + ${country.name}"/>
			</div>
		</div>
	</div>
</body>
</html>