<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('home')"></head>
<body>
	<header th:replace="layout :: header('')"></header>
	<div class="container">
		<div th:each="country : ${countries}" class="country">
			<!--/* URL will be /country/id/slug-from-name */-->
			<a th:href="@{'/country/' + ${country.id} + '/'+ ${country.slugFromName}}">
				<img th:src="@{'/flags/' + ${country.flagFileName}}"
                     th:alt="'Flag of ' + ${country.name}"/>
				<h4 th:text="${country.name}"></h4>
			</a>
        </div>
	</div>
</body>
</html>